/* YOUR CUSTOM STYLES */

html,
body,
header {
    height: 90%;
}

.view {
    background: url("../img/house/P1060750-1920-1.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 86%;
}

.flex-fill {
   flex: 1 1 auto;
}  

.flex-center {
    color: #fff;
}

.ersterartikel {
    margin-top: 80px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 55px;
    right: 20px;
    z-index: 99; /* Make sure it does not overlap */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
    border-width:1px;
    border-style: double;
    outline: none;
    font-size: 18px; /* Increase font size */
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../img/svg/cd-top-arrow-white.svg) no-repeat center 50%;
    background-color: lightgray;
    opacity:0.7;
    filter:alpha(opacity=70);
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s
}

#myBtn:hover {
    background-color: #E8FFE8;
    opacity:0.7;
}

@media only screen and (min-width: 0px) {
    #myBtn {
        height: 30px;
        width: 30px;
        right: 43%;
        bottom: 2px;

    }
}
@media only screen and (min-width: 1024px) {
    #myBtn {
        height: 40px;
        width: 40px;
        right: 30px;
        bottom: 30px;
    }
}
